@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body {
  font-family: 'Azeret Mono', monospace;
  color: #333;
}

.paytone-one-regular {
  font-family: 'Paytone One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pic-auto {
  width: 100%;
  height: 100%;
  /* vertical-align: top; */
  object-fit: cover;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.custom-select {
  @apply h-[52px] w-full rounded-full border border-gray-300 bg-white;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
}

.custom-select-options {
  @apply absolute top-0 z-20 flex max-h-[300px] w-full flex-col overflow-y-auto rounded-[24px] border border-gray-300 bg-white shadow-sm;
}

.custom-select-options .option {
  @apply px-4 py-3;
}
.custom-select-options .option:hover {
  background: #efece7;
}

.option.option-selected {
  background: #efece7;
}

input:focus {
  outline: none; /* 移除預設的輪廓 */
  box-shadow: none; /* 移除預設的陰影效果 */
  /* border-color: inherit; 保持邊框顏色不變 */
}

.custom-search-input {
  @apply flex h-[52px] overflow-hidden rounded-full border border-gray-300 bg-white;
}

.custom-search-input input {
  @apply w-full px-3 py-4;
}

.custom-input {
  @apply h-[52px] w-full overflow-hidden rounded-full border border-gray-300 bg-white px-3 py-4;
}

.custom-area {
  @apply w-full overflow-hidden rounded-[24px] border border-gray-300 bg-white px-3 py-4;
}

.custom-search-input button {
  @apply flex transform items-center justify-center border-l border-gray-300 bg-primary6 p-3 text-white duration-200;
}

.custom-search-input button:hover {
  @apply bg-primary5;
}

/* * 滑鼠移入 hover */
.cus-hover-auto {
  @apply transition-opacity duration-200 hover:opacity-80;
}

.cus-hover {
  @apply transition-all duration-200;
}

/* * 主要色 */
.text-primary {
  @apply text-primary6;
}

.bg-primary {
  @apply bg-primary6;
}

.border-primary {
  @apply border-primary6;
}

.avatar {
  @apply overflow-hidden rounded-full border border-gray-300;
}

.custom-avatar-clear {
  @apply overflow-hidden rounded-full;
}

.custom-b-shadow {
  box-shadow: 0px 3px 0px #000400;
}

.custom-border-2 {
  @apply border-2 border-gray-300;
}

.custom-btn {
  @apply flex transform items-center justify-center rounded-full border px-5 py-3 font-bold text-black duration-200;
}

.custom-btn-small {
  @apply flex transform items-center justify-center rounded-full border px-3 py-2 font-bold text-black duration-200;
}

.custom-btn-primary {
  @apply flex transform items-center justify-center rounded-full border border-primary5 bg-primary5 px-5 py-3 font-bold text-black duration-200;
  /* box-shadow: -2px 2px 0px #000400; */
}
.custom-btn-primary:hover {
  @apply bg-primary4;
}

.custom-btn-secondary {
  @apply flex transform items-center justify-center rounded-full border border-primary6 bg-primary1 px-5 py-3 font-bold text-primary6 duration-200;
  /* box-shadow: -2px 2px 0px #000400; */
}

.custom-btn-secondary:hover {
  @apply bg-primary2;
}

.custom-btn-gray {
  @apply flex transform items-center justify-center rounded-full border border-gray-400 bg-transparent px-5 py-3 font-bold text-gray-700 duration-200;
  /* box-shadow: -2px 2px 0px #000400; */
}

.custom-btn-danger {
  @apply flex transform items-center justify-center rounded-full border border-red-500 bg-red-500 px-5 py-3 font-bold text-white duration-200;
}

.custom-btn-danger-stroke {
  @apply flex transform items-center justify-center rounded-full border border-red-500 bg-transparent px-5 py-3 font-bold text-red-500 duration-200;
}

.custom-btn-disabled {
  @apply flex transform cursor-not-allowed items-center justify-center rounded-full border-2 border-gray-300 bg-gray-400 px-5 py-3 font-bold text-gray-700 duration-200;
  box-shadow: -2px 2px 0px #000400;
}

.custom-btn-secondary:hover {
  opacity: 0.8;
}
